<header> <h2>{{productTitle}}</h2></header>
<div>
  Filter by: <input type='text' [(ngModel)]="listFilter"/>
</div>
<br>
<div>
  Filtered by: {{listFilter}}
</div>
<hr>
<br><br>
<div>
  <table *ngIf = 'products.length'>
    <thead>
      <tr>
        <th>
          <button (click)="toggleImage()">{{showImage ? 'Hide' : 'Show'}} Image</button> 
        </th>
        <th>Product</th>
        <th>Code</th>
        <th>Available</th>
        <th>Price</th>
        <th>5 Star Rating</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>
            <!--
            We use for the img tag - property binding:
                [src]='product.imageUrl'
            We could also use interpolation bindings:
                src = {{product.imageUrl}}
            When using interpolation the element src is not enclosed in square brackets and no quotes.
            Property bindings as opposed to interpolation bindings allows type bindings and not only strings:
                < input type text='text' [disabled]='isDissabled'/>
            The isDisabled is a boolean type property.
            Sometimes we must use interpolation, for example:
                <img src='http://myImages.org/{{product.imageUrl}}'>
            -->
            <img *ngIf="showImage"
              [src]='product.imageUrl' 
              [title]='product.productName'
              [width]='imageWidth' 
              [style.margin.px]='imageMargin' alt="">             
          </td>
          <!-- Here we set routerLink attribute with parameter to activate routing to a specific product -->
          <td><a [routerLink]="['/products', product.productId]">{{product.productName}}</a></td>
          <td>{{product.productCode | lowercase | convertToSpaces: '-'}}</td>
          <td>{{product.releaseDate }}</td>
          <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
          <!-- The container pass data to the nested component through property bindings.-->
          <td><pm-stars 
                [rating]='product.starRating'
                (ratingClicked)='onRatingClicked($event)'>
          </pm-stars></td>
        </tr>
    </tbody>
  </table>
</div>
  

